<html>
  <head>
  	<meta charset="utf-8">
  	<title>ID</title>
  </head>
  <body>
  	<h1>ID</h1>
  	<hr>

    <from>
        ID: <input type="text" name="id">
  		パスワード: <input type="password" name="pwd">
  		<input type="submit" value="登録">
        神奈川<input type="radio" name="address" value="Kanagawa">
  		東京<input type="radio" name="address" value="Tokyo">
  		<input type="submit" value="OK">
          <form action="/select_app" method="POST">
            <select name="favorite">
                <option value="">好きなものを選んでください</option>
                <option value="cat">ねこ</option>
                <option value="dog">いぬ</option>
        <input type="submit" value="OK">
    </from>


  </body>
</html>
